@media (max-width: 1220px) {
    body {
        background-color: #b94e47;
    }

    .fundo-video {
        display: none;
    }

    .container {
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
        gap: 30px;
    }

    .container .mario {
        max-width: 50%;
    }

    .container .informacoes {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .container .descricao {
        color: #ffffff;
        text-align: center;
    }

    .container .botao-trailer {
        background-color: #131b1f;
    }
}

@media (max-width: 500px) {
    .cabecalho {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
}